 {{#each this}}
<li class="comment d-flex mb-3">
    <button id="user-profile-icon" class="align-top mr-4 pl-0"><a href="/profile/{{user.username}}"><img src="/images/profile-image.png"
                alt="profile image of user" width="45" height="45"></a></button>

    <div class="comment-info w-100">
        <b>{{user.username}}</b> <span class="post-date text-lightgray"> • {{format_date created_at}}</span>
        <p class="mb-0">{{comment_text}}</p>
    </div>

</li>

 {{/each}}