<nav>
    <ul>
        <li>SOCIALMOODIA</li>
        <li>add user</li>
        <li>bell</li>
        <li>smiley</li>
    </ul>
</nav>

{{#if loggedIn}}
<div class="settings">
    <button type="button" class="settings-btn">Settings</button>
    <button type="submit" class="log-out">Log out</button>
</div>
{{/if}}
