<nav id="nav-buttons-right" class="nav-items d-flex align-items-center m-3">
        <a href="/search">
          <button id="find-friends" class="mr-3" data-toggle="tooltip" data-placement="bottom" title="Find friends" href="/search">
          <i class="fa-solid fa-user-group"></i>
          </button>
        </a>
        </button> <!--Can be a dropdown or popup box that allows search, or can direct to new page-->
        <button id="notifications" class="mr-3"><i class="fa-solid fa-bell"></i></button>
        <button id="nav-user-profile" class="mr-1"><a href="/user-page"><img src="/images/profile-image.png"
              alt="profile image of user" width="30" height="30"></a></button>
        <div id="nav-dropdown" class="dropdown">
          <button class="dropbtn"><i class="fa-solid fa-caret-down"></i></button>
          <div class="dropdown-content">
            <a id="settings" href="#">Settings</a>
            <a id="logout" href="#">Log out</a>
          </div>
        </div>
</nav>

<script src="/javascript/logout.js"></script>