<nav>
    <ul>
        <li>SOCIALMOODIA</li>
        <li><a href="/profile">
            <i class="bi bi-person-plus"></i>
        </a></li>
        <li><a href="/notifications">
            <i class="bi bi-bell"></i>
        </a></li>
        <li><a href="/user-page">
            <i class="bi bi-emoji-smile-fill"></i>
        </a></li>
    </ul>
</nav>
