<article class="post">
    <div class="icon">${{this.user-icon}}</div>
    <div class="meta">
        {{user.username}}
        {{format_date created_at}}
    </div>
    <div>{{post-content}}</div>
    <div class="buttons">
        <button class="comment">Comment</button>
        <button class="react">React</button>
        <button class="share"><i class="bi bi-send"></i></button>
    </div>
    
</article>