
<div class="user-icon mx-auto pb-3">
    <img src="/images/profile-image.png" alt="profile image of user" width="90" height="90" class="mx-auto">
</div>
<div class="username col-12 mx-auto">
    <h4 class="text-center">
        <strong>{{user.username}}</strong>
    </h4>
</div>
<div class="follow-count">
    <p>
        <span class="font-weight-bold">X </span> following &nbsp;
        <span class="font-weight-bold">X </span> following
    </p>
</div>

