<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socialmoodia</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>

<body>
  <div class="wrapper">

    {{#if loggedIn}}

    <header class="d-flex w-100">
      <h1 class="mt-2 ml-2 mr-auto p-2 d-flex align-items-center">
        <a href="/"><img src="/images/logo.png" alt="type-based logo that says 'socialmoodia'" width="40%"
            height="40%"></a>
      </h1>
      <nav id="nav-buttons-right" class="d-flex align-items-center m-3">
        <button id="find-friends" class="pr-3" ><i class="fa-solid fa-user-group"></i></button> <!--Can be a dropdown or popup box that allows search, or can direct to new page-->
        <button id="notifications" class="pr-3"><i class="fa-solid fa-bell"></i></button>
        <button id="nav-user-profile" class="pr-1"><a href="/user"><img src="/images/profile-image.png"
              alt="profile image of user" width="30" height="30"></a></button>
        <div id="nav-dropdown" class="dropdown">
          <button class="dropbtn"><i class="fa-solid fa-caret-down"></i></button>
          <div class="dropdown-content">
            <a id="settings" href="#">Settings</a>
            <button id="logout">Log out</button>
          </div>
        </div>
      </nav>
    </header>

    <main>

      {{!-- {{{ body }}} --}}
    </main>
    {{else}}
    {{{ body }}}
    {{/if}}

    <footer>
    </footer>
  </div>

</body>

</html>


<script src="/javascript/logout.js"></script>