<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socialmoodia</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Sociamoodia</a>
      </h1>
      <nav>
        <div id="user"> <a href="/user"></a></div>   <!-- 'User' ideally should be the username -->
        <!-- Commenting out login and signup buttons in the nav in case we decide to keep it
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a> 
        -->
        <input type="text" placeholder="Search for user">
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>

</body>

</html>