<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socialmoodia</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>

<body>
  <div class="wrapper">

    {{#if loggedIn}}

    <header class="d-flex w-100">
      <h1 class="mt-2 ml-2 mr-auto p-2 d-flex align-items-center">
        <a href="/"><img src="/images/logo.png" alt="type-based logo that says 'socialmoodia'" width="40%"
            height="40%"></a>
      </h1>
      {{> nav nav-items}}
    </header>

    <main class="d-flex col-lg-5 col-md-10 col-sm-12 mx-auto">
      <section class="mx-auto w-100 pt-5 container">
        <div class="d-flex">
          <button id="user-profile-icon" class="align-top mr-4"><a href="/user-page"><img src="/images/profile-image.png"
                alt="profile image of user" width="45" height="45"></a></button>
          <form class="new-post-form w-100">
            <div>
              <input class="input w-100" type="text" id="add-post-text" name="add-post-text"
                placeholder="What's happening?" />
            </div>
            <button id="add-post-button" class="float-right mt-3">Post</button>
          </form>
        </div>
      </section>

      <hr class="mt-1">


      {{!-- {{{ body }}} --}}
    </main>
    {{else}}
    {{{ body }}}
    {{/if}}

    <footer>
    </footer>
  </div>

</body>

</html>

<script src="/javascript/add-post.js"></script>