<div id="create-post">

</div>

<ol class="main-feed">
  {{>post-info post}}
  {{#each posts}}
  <li>
    <div class="post">
      {{body}}
    </div>
  </li>
  {{/each}}
</ol>


<script src="/javascript/add-post.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/reaction.js"></script>