{{> add-post}}

<ol class="main-feed pl-0">
  <section class="mx-auto w-100 pt-5 container">
    <ol class="main-feed pl-0">
      {{#each posts}}
      <hr>
      {{> post-info}}
      {{/each}}
    </ol>
  </section>

</ol>


<script src="/javascript/add-post.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/reaction.js"></script>