<div id="create-post">
    <emoji-picker></emoji-picker>
</div>

<ol class="main-feed">
  {{#each posts}}
  <li>
    <div class="post">
    </div>
  </li>
  {{/each}}
</ol>


<script src="/javascript/add-post.js"></script>
<script src="/javascript/add-post.js"></script>