<form class="login-form">
  <div>
    <!-- The logo will go here -->
  </div>
  <div>
    <label for="user-login">Username:</label>
    <input type="text" id="user-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <!-- This button will attempt to log the user in. -->
    <button type="submit">Login</button>
  </div>
</form>
  <div>
    <h3>OR</h3>
    <!-- This button will redirect the user to a sign-up page with a sign-up form -->
    <button id="signup-button" href="/signup">Signup</button>
  </div>


<script src="/javascript/login.js"></script>