<section class="d-flex justify-content-center mt-5">
  <div class="vstack">
    <form class="login-form mb-3">
      <div class="logo">
        <!-- The logo will go here -->
        <i class="bi bi-emoji-smile-fill"></i>
      </div>
      <div class="mb-2">
        <label for="user-login">Username:</label>
        <input type="text" id="username-login" />
      </div>
      <div class="mb-3">
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
      </div>
      <div class="text-center">
        <!-- This button will attempt to log the user in. -->
        <button type="submit" class="w-100">Login</button>
      </div>
    </form>

    <div class="text-center">
      <p>OR</p>
      <!-- This button will redirect the user to a sign-up page with a sign-up form -->
      <a href="/signup"><button id="signup-button" class="w-100">Sign up</button></a>
    </div>
  </div>
</section>

<script src="/javascript/login.js"></script>