<!--shows profile, followers, posts, allows to create post-->

<section class="mx-auto w-100 pt-5 container">
  <div class="d-flex flex-wrap justify-content-center pb-2">
    {{> profile-info user-page}}
  </div>
  <form class="d-flex flex-wrap justify-content-center pb-3">
    <button class="follow-button mx-auto  ">Follow</button>
  </form>
  
<hr class="mb-4">
</section>

<!--Div to allow user to see user posts-->
<section class="mx-auto w-100 container">
    {{#if posts.length}}
      <ol>
        {{#each posts as |post|}}
        <li class="">
          {{> post-info post}}
          <a href="/user/edit/{{post.id}}" class="edit-link float-right ">Edit</a>
        </li>
        <hr class="mt-5">
        {{/each}}
      </ol>
    {{/if}}
</section>


<script src="/javascript/add-post.js"></script>
