<section class="d-flex justify-content-center mt-5">
  <div class="vstack">
    <form class="signup-form mb-3">
      <div class="mb-2"> 
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div class="mb-3"> 
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div class="text-center">
        <!-- Attempt to create user on click -->
        <button type="submit" class="w-100">Sign up</button>
      </div>
    </form>
  </div>
</section>


<script src="/javascript/signup.js"></script>