<section class="mx-auto w-100 pt-5 container">
  {{> post-info post}}

  {{#if loggedIn}}
  <hr>
  <div class="d-flex">
    <button id="user-profile-icon" class="align-top mr-4 pl-0"><a href="/user-page"><img src="/images/profile-image.png"
          alt="profile image of user" width="45" height="45"></a></button>
    <form class="comment-form w-100">
      <div>
        <input id="add-comment-text" name="add-comment-text" class="input w-100 input-text" type="text" placeholder="Reply here"></input>
        <emoji-picker id="emoji-picker-comment"></emoji-picker>
      </div>
      <button class="comment-btn float-right mt-3">Comment</button>

    </form>
  </div>
  {{/if}}

  <hr >

  {{> comments post.comments}}


</section>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{!-- <script src="/javascript/reaction.js"></script> --}}
{{/if}}



<script src="/javascript/add-post.js"></script>