<!--shows profile, followers, posts, allows to create post-->

<div class="user-info">
    <div class="avatar"></div>
    <div class="username">{{user.username}}</div>
    <div class="follow-count">
        <p>{{user.following-count}} following </p>
        <p>{{user.follower-count}} followers </p>
    </div>
</div>

<div class="add-post">
  
</div> <!--Div to allow user to create post-->

<!--Div to allow user to see user posts-->
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/user/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>

<script src="/javascript/add-post.js"></script>