:root {
    --light-purple: #c090e7; 
    --light-purple-hover: #a579c9; 
  }

button{
    background-color: var(--light-purple);
    border: none;
    border-radius: 25px !important;
    color: white;
    padding: 5px 0 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline:0 !important;
}

button :hover{
    background-color: var(--light-purple-hover);
    border: none;
}
  

header {
    border-bottom: 1px solid lightgray;
}

#nav-buttons-right button{
    background: none;
    color: var(--light-purple);
    font-size: 18px;
}

#nav-buttons-right button :hover{
    background: none;
    color: var(--light-purple-hover);
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    right: 3px;
    z-index: 1;
    border-radius: 3px !important;
  }

.dropdown-content a,  .dropdown-content button {
    color: black !important;
    padding: 12px 16px !important;
    text-decoration: none !important;
    display: block !important;
  }
  
.dropdown-content a:hover, .dropdown-content button:hover {
    text-decoration: none !important;
    color: white !important;
    background-color: var(--light-purple) !important;
    border-radius: 3px !important;
}

.dropdown:hover .dropdown-content {display: block;}

