button{
    background-color: #c090e7; 
    border: none;
    border-radius: 25px !important;
    color: white;
    padding: 5px 0 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.hide{
    display: none;
}
